<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Raline Management System</title>
  <script>
    window.SITE_URL = "{{site_url}}";
    window.SITE_NAME = "{{site_name}}";
    window.recaptchaV3Key = "6Lfz4-shAAAAANgsYRR0datkzv6zLIaKrSqfHsiG";
    window.turnstileKey = undefined;
    window.serverURL = "{{server_url}}"
  </script>
</head>
<script src="/static/admin.js"></script>

<body></body>

</html>